---
version: "3"
services:
  vaultwarden:
    image: vaultwarden/server:1.24.0
    container_name: vaultwarden
    environment:
      - SIGNUPS_ALLOWED=false
      - SHOW_PASSWORD_HINT=false
      - LOG_FILE=/data/log/bitwarden.log
      - DOMAIN=${DOMAIN}
    volumes:
      - /srv/vaultwarden:/data:rw
    restart: always

  backup:
    image: ttionya/vaultwarden-backup:1.11.0
    container_name: vaultwarden-backup
    environment:
      TIMEZONE: ${TZ}
      RCLONE_REMOTE_NAME: 'vaultwarden-backup'
      RCLONE_REMOTE_DIR: '/backup/vaultwarden-backup/'
    #   RCLONE_GLOBAL_FLAG: ''
      CRON: '0 23 * * *'
    #   ZIP_ENABLE: 'TRUE'
      ZIP_PASSWORD: ${ZIP_PASSWORD}
    #   ZIP_TYPE: 'zip'
    #   BACKUP_FILE_DATE_SUFFIX: ''
    #   BACKUP_KEEP_DAYS: 0
      PING_URL: ${PING_URL}
    #   MAIL_SMTP_ENABLE: 'FALSE'
    #   MAIL_SMTP_VARIABLES: ''
    #   MAIL_TO: ''
    #   MAIL_WHEN_SUCCESS: 'TRUE'
    #   MAIL_WHEN_FAILURE: 'TRUE'
    volumes:
      - /srv/vaultwarden:/bitwarden/data/
      - /srv/vaultwarden-backup:/config/
    restart: unless-stopped

  swag:
    image: ghcr.io/linuxserver/swag:1.28.0-ls135
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=${TZ}
      - URL=${URL}
      - SUBDOMAINS=${SUBDOMAINS}
      - ONLY_SUBDOMAINS=true
      - VALIDATION=http
      - EMAIL=${EMAIL}
      - DOCKER_MODS=linuxserver/mods:swag-maxmind
      - MAXMINDDB_LICENSE_KEY=${MAXMIND_KEY}
    volumes:
      - /srv/swag:/config
      - /srv/vaultwarden/log:/log
    ports:
      - 443:443
      - 80:80
    restart: always
